{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!--Import Base.css-->
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Create Order
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Create ASN
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            How-to-guides
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Create Customer
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Create SKU</h1>
            </div>
            <div class="form_container">
                <form action="{% url 'create_sku' %}" method="POST">
                    {% csrf_token %}
                    <fieldset>
                        {{form.sku_code | as_crispy_field }}
                        {{form.upc | as_crispy_field }}
                        {{form.barcode | as_crispy_field }}
                        {{form.outer_barcode | as_crispy_field }}
                        {{form.upp | as_crispy_field }}
                        {{form.cpp | as_crispy_field }}
                        {{form.cs_per_layer | as_crispy_field }}
                        {{form.layer | as_crispy_field }}
                    </fieldset>
                    <div class="row submit-container">
                        <div class="d-flex justify-content-center">
                            <button id="submit-button" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>
{% endblock %}